//- This file is only meant to be included in other modules
//- and then used as a mixin: +search-hit({ ... })
mixin search-hit(data)
	.search-hit
		//- TODO: refactor with dynamic mixin when supported by pug-php
		//- https://github.com/pug-php/pug/issues/138
		//- +#{'search-hit-' + data.type}(data)
		case data.type
			when 'flore'
				+search-hit-flore(data)
			when 'vegetation'
				+search-hit-vegetation(data)

mixin search-hit-flore(data)
	//- bdtfx is the default referentiel, else take the first in array
	- var referentiel = data.bdtfx ? 'bdtfx' : data.referentiels[0];
	- var title = data._highlightResult[referentiel].scientific_name.value
	- var href = data[referentiel].permalink
	- var text = data._highlightResult[referentiel].common_name.value
	h3.search-hit-title
		a(href=href)!= title
		each ref in data.referentiels
			a.search-hit-tag(href=data[ref].permalink)= ref
	if text
		.search-hit-text
			!= text

mixin search-hit-vegetation(data)
	- var title = data._highlightResult.syntaxon.value
	- var href = data.permalink
	- var text = data._highlightResult.commonName.value
	h3.search-hit-title
		a(href=href)!= title
	if text
		.search-hit-text!= text
