//- This file is only meant to be included in other modules
//- and then used as a mixin: +search-hit({ ... })
mixin search-hit(data)
	.search-hit
		+#{'search-hit-' + data.type}(data)

mixin search-hit-actualites(data)
	include ../list-articles-item/list-articles-item-mixin
	-
		var itemData = {
			modifiers: data.post_classes,
			id: data.post_id,
			href: data.permalink,
			title: data._highlightResult.post_title.value,
			text: data._snippetResult.post_content.value,
			thumbnail_url: data.thumbnail,
			date: {
				title: data.post_date.formatted,
				datetime: data.post_date.datetime,
				//- the relative date below is processed at runtime in instantsearch.js
				text: data.post_date.text,
			},
			author: {
				prefix: 'par',
				text: data.post_author.display_name,
				href: data.post_author.permalink,
			},
			categories: data.category_links,
		}
	+list-articles-item(itemData)

mixin search-hit-evenements(data)
	include ../list-articles-item/list-articles-item-mixin
	-
		var itemData = {
			modifiers: data.post_classes,
			id: data.post_id,
			href: data.permalink,
			title: data._highlightResult.post_title.value,
			text: data._snippetResult.post_content.value,
			thumbnail_url: data.thumbnail,
			date: {
				title: data.post_date.formatted,
				datetime: data.post_date.datetime,
				//- the relative date below is processed at runtime in instantsearch.js
				text: data.post_date.text,
			},
			author: {
				prefix: 'par',
				text: data.post_author.display_name,
				href: data.post_author.permalink,
			},
			categories: data.category_links,
			//- specific to events
			event: true,
			dates: {
				start: data.event_date,
				end: data.event_date_end ? data.event_date_end : null,
			},
			place: data.event_place.formatted
		}
	+list-articles-item(itemData)

mixin search-hit-flore(data)
	//- bdtfx is the default referentiel, else take the first in array
	- var referentiel = data.bdtfx ? 'bdtfx' : data.referentiels[0];
	- var title = data._highlightResult[referentiel].scientific_name.value
	- var href = data[referentiel].permalink
	- var text = data._highlightResult[referentiel].common_name.value
	h3.search-hit-title
		a(href=href)!= title
		each ref in data.referentiels
			a.search-hit-tag(href=data[ref].permalink)= ref
	if text
		.search-hit-text
			!= text

mixin search-hit-vegetation(data)
	- var title = data._highlightResult.syntaxon.value
	- var href = data.permalink
	- var text = data._highlightResult.commonName.value
	h3.search-hit-title
		a(href=href)!= title
	if text
		.search-hit-text!= text
