include ../icon/icon-mixin

#{tag}(class=data.modifiers)
	a.card-project-link(href=data.permalink)
		- var style = "background-image: url(" + data.cover_image_url + ");"
		.card-project-cover(style=style)
			if data.tela
				.card-project-tela(title=data.tela_title)
					+icon({icon: 'tela-leaf'})
			img.card-project-avatar(src=data.avatar)
		.card-project-content
			h2.card-project-title
				span!= data.name
			.card-project-description!= data.description
		if data.meta
			.card-project-meta
				each item in data.meta
					span.card-project-meta-item
						+icon({icon: item.icon})
						= item.text
