include ../icon/icon-mixin

#{tag}(class="card-project")
	a.card-project-link(href=data.permalink)
		- var style = "background-image: url(" + data.cover_image_url + ");"
		.card-project-cover(style=style)
			if data.tela
				.card-project-tela(title=data.tela_title)
					+icon({icon: 'tela-leaf'})
			img.card-project-avatar(src=data.avatar)
		.card-project-content
			h2.card-project-title
				span!= data.name
			.card-project-description!= data.description
		.card-project-meta
			each item in data.meta
				span.card-project-meta-item
					+icon({icon: item.icon})
					= item.text
